:root {
  --main-font: "Roboto", sans-serif;

  /*color */
  --main-light: #fff;
  --main-dark: #212121;
  --main-color-font: #757575;
  --secondary-color: #2196f3;
  --logo-wrap-color: #000000;
  --btn-inactive: #f5f4fa;
  --btn-active: #188ce8;
  --main-unit: #2f303a;
  --border-heder: #ececec;
  --border-goods: #eeeeee;
  --main-clients: #f5f5f5;
  --main-icons: #afb1b8;

  /*background*/

  --main-background: rgba(33, 150, 243, 0.9);
  --border-forma: rgba(33, 33, 33, 0.2);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}
.section-benefits {
  padding: 94px 0;
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 92px;
}

body {
  font-family: var(--main-font);
  color: var(--main-color-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  }

/*header*/

.header {
  border: 1px solid var(--border-heder);
}
.list-header-contact {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.logo {
  display: flex;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
}
.logo-wrap {
  color: var(--logo-wrap-color);
}
.link-nav:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  display: block;
  margin-left: auto;
  padding-top: 32px;
  text-decoration: none;
  align-items: flex-end;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-dark);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-contact {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-color-font);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav::after {
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  content: "";
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.link-nav:hover,
.link-nav:focus,
.link-nav:hover::after {
  color: var(--secondary-color);
  text-decoration: none;
  opacity: 1;
  transition: color var(--secondary-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-contact:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-icon:hover {
  fill: var(--secondary-color);
}

.link-nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-icons);
  background-color: var(--main-light);
  margin-right: 10px;
  fill: currentColor;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*рішення для вашого бізнесу */
.section-hero {
  background-color: var(--main-unit);
  color: var(--main-dark);
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Herro.jpg);
  background-position: center;
}

.hero-title {
  max-width: 700px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-light);
}
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary-color);
  font-family: var(--main-light);
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  background: var(--btn-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-light);
  margin: 0 auto;
  display: flex;
  border: none;
}
.filtr-btn:not(:last-child) {
  margin-right: 8px;
}
.filtr-btn {
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  background: var(--btn-inactive);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--main-dark);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-btn:hover,
.filtr-btn:focus {
  background: var(--secondary-color);
  color: var(--main-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*умови*/
.benefits-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.benefits-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-dark);
  text-transform: uppercase;
}
.benefits-list-item {
  flex-wrap: wrap;
  width: calc((100%-90px) / 4);
}

.benefits-list-title-description {
  line-height: 1.71;
  color: var(--main-color-font);
}
.benefits-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background: var(--btn-inactive);
  border-radius: 4px;
  margin-bottom: 30px;
}
.benefits-list-item-link-icon {
  width: 70px;
  height: 70px;
}
/*Чим ми займаємося*/
.section-title-activity {
  position: relative;
  }

.section-title-activity-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  background: rgba(47, 48, 58, 0.8);
}

.list-activited
{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

/*Наша команда*/


.team-title,
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.43;
  color: var(--main-dark);
}

.section-team {
  background-color: var(--btn-inactive);
  padding: 94px 0;
}

.team-list .item {
  max-width: 270px;
  background: var(--main-light);
}

.item {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list {
  display: flex;
  margin-bottom: 30px;
  list-style: none;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
}
.team-list-name-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-color-font);
}
.item-content {
  padding: 30px 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*Постійні клієнти*/
.section-clients .clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.43;
  color: var(--main-dark);
}

.section-clients {
  padding: 94px 0;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  width: calc((100%-150px) / 6);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--main-icons);
  border-radius: 4px;
  color: var(--border-clients);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
/*список товарів*/
.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.goods-item {
  position: relative;
  max-width: 370px;
  gap: 30px;
  list-style: none;
  display: block;
  margin-top: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark);
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods-item:hover .goods-item-card-discription {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
  background: var(--main-background);
}

.goods-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-dark);
}
.goods-title-nomenklatura {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-color-font)
  
}

.goods-item-photo:hover {
  background: var(--main-background);
}
.goods-item-card-discription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-light);
  background: rgba(0);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--main-background);
}
.goods-item-card {
  position: relative;
  overflow: hidden;
}

.goods-item-content {
  padding: 20px 24px;
  border: 1px solid var(--border-goods);
}
.goods-item img {
  display: block;
}

/*foote*/
.section-footer {
  padding: 94px 0;
}

footer {
  background: var(--main-unit);
}

.link-logo {
  display: flex;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
}

.link-logo-wrap {
  color: var(--main-light);
}
.link-contact {
  display: inline-block;
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-light);
  text-decoration: none;
}
.link-contact-nav {
  display: inline-block;
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.list-contact {
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 70px;
}

.list-contact-item:not(:last-child) {
  margin-bottom: 9px;
}
/*Socials*/
ul {
  list-style: none;
}
.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-icons);
  background-color: var(--main-light);
  border-radius: 50%;
}
.socials-link:hover {
  fill: var(--main-light);
  background-color: var(--secondary-color);
}

.socials-icon:hover {
  fill: var(--main-light);
}

.link-nav-icon {
  display: flex;
  justify-content: center;
}

/**/

.socials-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--main-light);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.socials-link-footer:hover {
  fill: var(--main-light);
  background-color: var(--secondary-color);
}
.socials-icon-footer:hover {
  fill: var(--main-light);
}

.socials-contacts {
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 206px;
  height: 80px;
  padding-top: 12px;
}
.socials {
  display: flex;
}

.socials-contacts-naim {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-light);
  padding-bottom: 20px;
}

/*ПІДПИШІТЬСЯ*/

.subscription {
  justify-content: center;
 flex-wrap: wrap;
 padding-left: 93px;
 
}

.subscription-naim {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-light);
  padding-bottom: 20px;
  
 }

.subscription-form-list {
    display: flex;
    align-items: center;
   padding-right: 12px;
}
.subscription-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--main-unit);
  margin-right: 12px;
  color: var(--main-light);
  padding: 16px 15px;
}
.subscription-input:focus {
  outline:none;
  border-color: var(--main-light); 
}


.subscription-input-icon 
{
  margin-left: 10px;
}
/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--main-light);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--main-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark);
  margin-bottom: 12px;
}
.textarea:placeholder {
  color: var(--main-color-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  color: var(--main-dark);
}

/*Form*/
.form-input {
   margin-bottom: 10px;
}
.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color-font);
  margin-bottom: 4px;
  }

.input-wrapper {
  position: relative;
}


.input {
  width: 100%;
  padding: 12px 12px 12px 36px;
  border: 1px solid var(--border-forma);
  border-radius: 4px;
  outline: none;
}

.input:focus {
  border-color: var(--secondary-color);
 }

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within .input-icon {
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid var(--border-forma);
  border-radius: 4px;  
  outline: none;
  resize: none;
  color: var(--main-dark);
}


 /*checkbox*/
.form-checkbox {
  margin-bottom: 30px;
  padding-left: 12px;
    }

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  position: relative;
  padding-left: 28px;
  padding-right: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}
.checkbox-conditions {
  color: var(--secondary-color);
}

.checkbox-label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  content:'';
  border: 0.2px solid var(--main-dark);
  cursor: pointer;

}

.checkbox-input:checked + .checkbox-label::before {
  border: 0.2px solid var(--secondary-color);
  background-image: url(../images/icons/checkbox\ svg.svg);
  background-color: var(--secondary-color);
  background-size: contain;
  background-position: center;
}
